h1.heading-1 {
  font-size: 7.2rem;
  line-height: 7rem;
  color: $white;
  @media only screen and (max-width: 650px) {
    font-size: 6.4rem;
  }
  @media only screen and (max-width: 500px) {
    font-size: 5rem;
    line-height: 6.8rem;
  }
}

h2.heading-2 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: $black;
}

h3.heading-3 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: $white;
}

p.paragraph-main {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 5px;
    padding: 1rem 3rem;
    border: 1px solid $black;
    color: $black;
    transition: all 0.5s ease;
    &:hover,
    &:active {
      background-color: $black;
      color: $white;
    }
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

//Utilities
//Utilities
.mg-bot-sm {
  margin-bottom: 3rem;
}
.mg-bot-md {
  margin-bottom: 5rem;
}
.mg-bot-lg {
  margin-bottom: 7rem;
}

$padding1440px: 5rem 8rem;
$padding900px: 5rem;
$padding500px: 5rem 2rem;
